body {
    background-color: #181a1b;
    color: #e8e6e3;
  }
a {
    color: #3391ff;
}
.pure-menu-item .pure-menu-link {
    color: gray; /* Change this to your desired color */
}
.pure-menu-item .pure-menu-link:hover {
  color: white; /* Change this to the hover color */
  background-color: #181a1b;
}
.pure-menu-children{
  background-color: #181a1b;
  color: #e8e6e3;
}
.fa-sun{
  color: #e8e6e3
}
.lbl-toggle{
  background: #2c2c2c; 
}
.content-inner { background: rgba(161, 161, 161, 0.2);
   border-bottom: 1px solid rgba(56, 56, 56, 0.45);
  }
